
*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(350deg,#FFD4AA,#e981a2);
    position: relative;
}
.container{
    width: 95%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 15px;
    gap: 15px;
    
    
}
.box{
    grid-column: 1/5;
    grid-row: 3/6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;

    
}
.box::-webkit-scrollbar{
    opacity: 0;
}
h1{
    grid-column: 1/3;
    grid-row: 1/2;
    gap: 15px;
    font-size: 50px;
    align-items: center;
    color: #FFD4AA;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
h1 img{
    margin-top: 0px;
    width: 90px;
}

.container button{
    background-color: #e981a2;
    margin: 0 auto;
    height: 60px;
    width: 50%;
    grid-column: 1/3;
    grid-row: 2/3;
    border-radius: 20px;;
    color: #FFD4AA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 10px;
    cursor: pointer;
    transition: 0.8s;
    


}
.container button:hover{
    background-color: #f97fa6;

}
.container button img{
    width: 30px;  
}
.inputfield{   
    width: 27%;
    height: 35%;
    background-color: #e981a290;
    border-radius: 5px;
    outline: #FFD4AA 1px solid ;
    padding: 10px;
    position: relative;
    overflow-y: auto;
    color: #b9375d;
    font-size: 20px;
    font-weight: 600;
    overflow-y: scroll;
    margin: 5px 0;
    
       
    
}
.inputfield::-webkit-scrollbar,.inputfield::-webkit-scrollbar-corner{
    opacity: 0;
    display: none;

    
}

.inputfield img{
    width: 40px;
    position: absolute;
    top:0;
    right: 0;
    cursor: pointer;
    z-index: 3;
    
}

.inputfield::after{
    content:"";
    width: 50px;
    
    height: 50px;
    border-radius: 50%;
    background-color: #7cb7ff;
    position: absolute;
    top: -20%;
    z-index: -1;
    filter: blur(1px);
}

@media (max-width:500px) {
    .container button{
        font-size: 15px; 
    }
    .box{
        flex-direction: column;


    }

}