*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
body{
    display: flex;
    background-color: hotpink;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
}
.inputs{
    background-color: wheat;
    height: 140px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    gap: 5px;
}
h2{
    font-size: 30px;
    color: white;

}
input{
    border-radius: 10px;
    border: none;
    outline: none;
    height: 25px;

}
button{
    width: 200px;
    border: none;
    background-color: hotpink;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    height: 25px;
    transition: 0.8s;
}
button:hover{
    background-color: rgb(255, 31, 143);
    scale: 1.1;
}
.boxes{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;

}
#box{
    background-color: wheat;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    width: 17%;
    border-radius: 20px;
    gap: 5px;

    
}
.item{
    background-color: hotpink;
    width:80%;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    cursor: move;
}