*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(#111,#222);
    height: 100vb;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: red;
    clip-path: circle(40% at right 70%);
    z-index: -1;
}
.parent{
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.193);
    border-radius: 20px;
    overflow: hidden;
    
}
nav{
    
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;

    
}
nav .logo{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}
nav .logo:hover{
    color: rgba(255, 0, 0, 0.574);
    font-size: 27px;
}
nav ul li {
    display: inline-block;
    margin: 0 5px;
    
}
nav ul{
    padding-left: 15px;
}
nav ul li a{
    color: #fff;
    display: inline-flex;
    text-decoration: none;

    font-size: 16px;
    font-weight: 700;
}
nav ul li a:hover{
    color: rgba(255, 0, 0, 0.574);
    font-size: 18px;

}
.content{
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.content .text {
    color:#fff;
    width: 40%;
}  
h2{ 
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    
    letter-spacing: 2px;
}
.content .text p{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
    

}
.content .image{
    width: 40%;
    
}
.content .image img{
    width: 400px;
    
}
@media (max-width:960px) {
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    }
    h2{
        font-size: 30px;
    }
    .content .text, .content .image{
        width: 80%;
    }
    
    
    .content .image img{
        /* width: 280px; */
        width: 100%;

        
    }
    body::after{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: red;
        clip-path: circle(40% at bottom );
        z-index: -1;
    }
}