*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
    width: 100vw;
    background: #161616;
    flex-direction: column;
}
h2{
    
    font-size: 40px;
    box-shadow: 100px gray;
    animation: title 5s infinite linear both alternate-reverse ; 
}
@keyframes title {
    0%{
        color: deeppink;
        text-shadow: 5px 3px 5px deeppink;

        
    }
    100%{
        color: #fff;
        text-shadow: 5px 3px 5px white;
    }
}
.textbox{
    width: 59%;
    height: 50%;
    outline: none;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    z-index: 0;
    color: #ff9bd0;
    font-size: 20px;
    

    
}
.textbox::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: -1;
    cursor: text;
    
}

.textbox::before{
    content: "";
    background: linear-gradient(
        45deg,blue, deeppink,red, black, white,hotpink
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(20px);
    animation: glowing 20s linear infinite ;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;

 
}
@keyframes glowing {
    0%{background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}
.textbox:focus::before{
        opacity: 1;
}
.row{
    display: flex;
    width: 60%;
    gap: 20px;
    
}
.row button{
    width: 150px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    color: #e7e7e7;
    
    font-weight: 700;

}
.row button::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color:#333;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 14px;


}
.row button::before{
    content: '';
    background: linear-gradient( 45deg,blue, deeppink,red, black, white,hotpink);
    position: absolute;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background-size: 600%;
    border-radius: 14px;
    filter: blur(8px);
    z-index: -1;
    transition: ease-in-out .3s ;
    animation: linear 20s infinite Listen;
    opacity: 0;
}
@keyframes Listen {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
    
}
button:hover::before{
    opacity: 1;
}
button:active::after{
    opacity: 0;
}
select{
    flex: 1;
    color: #e7e7e7;
    background: #333;
    outline: none;
    border: none;
    padding: 0 20px;
    height: 50px;
    border-radius: 35px;
    appearance: none;
    
}